<div class="logo-nav">
  <a class="navbar-brand" href="/">Cocktail</a>
</div>

<div class="container">

  <div class="row">
    <div class="col-12">
      <h1>Results</h1>
      <p>You searched for <strong><%= @keyword %></strong>. We found <%= @cocktails.count %> out of our <%= Cocktail.count %> cocktail on our website.</p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <% @cocktails.each do |c| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path c.photo, height: 300, width: 400, crop: :fill %>')">
            <div class="card-category"><%= c.name %></div>
            <%= link_to '', cocktail_path(c), class: "card-link" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>

