<% if notice %>
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" id="alertbtn" data-dismiss="alert">×</button>
    <p><%= notice %></p>
  </div>
<% end %>

<%= render 'layouts/banner' %>

<div class="row">
  <h1 class="text-center">Cocktails</h1>
</div>

<div class="container">

  <div class="row">
    <% @cocktails.each do |c| %>
      <div class="col-xs-12 col-sm-4">
        <% if c[:photo].nil? %>
          <div class="card logo">
            <div class="card-category"><%= c.name %></div>
          <%= link_to '', cocktail_path(c), class: "card-link" %>
          </div>
        <% else %>
          <div class="card" style="background-image: linear-gradient(0deg, rgba(60,60,60,0.8) 0%, rgba(60,60,60,0.1) 100%),url('<%= cl_image_path c.photo, height: 200, width: 300, crop: :fill%>')">
            <div class="card-category"><%= c.name %></div>
          <%= link_to '', cocktail_path(c), class: "card-link" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <a href="/cocktails/new"><i class="fas fa-plus-circle"></i></a>
</div>



