<div class="col-xs-12 col-sm-4 col-sm-offset-4">
  <div class="row">
    <%= simple_form_for(@cocktail) do |f| %>
      <% if @cocktail.errors.any? %>
        <div class="errors-container">
          <ul>
            <% @cocktail.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <h2>Add a new cocktail</h2>

      <div class="form-group">
        <%= f.input :name, class: "form-control" %>
      </div>
      <%= f.button :submit, class: "btn btn-primary" %>
      <%= link_to "Clear input", "#", class: "btn btn-danger" %>
    <% end %>
  </div>
</div>


