<div class="logo-nav">
  <a class="navbar-brand" href="/">Cocktail</a>
</div>
<div class="container">
  <div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <div class="row">
      <%= simple_form_for(@cocktail) do |f| %>
        <h2>Add a new cocktail</h2>

        <div class="form-group">
          <%= f.input :name, class: "form-control" %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
        </div>
        <%= f.button :submit, class: "btn btn-primary" %>
        <%= link_to "Clear input", "#", class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>

</div>


